<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



    <nav th:fragment="navbar">
        <div class="navbar-title">
            <a href="/">Bookish</a>
        </div>
        <div class="navbar-item">
        <a href="/books">Books</a>
        </div>
        <div class="navbar-item">
            <a href="/library">Library Stock</a>
        </div>
        <div class="navbar-item">
            <a href="/users">Users</a>
        </div>
        <div class="navbar-item">
            <a href="/checkout">Check out a book</a>
        </div>

    </nav>



</html>
