<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.AuthorsPageModel"-->

<head>
    <title>Bookish - About Us</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>


<div>
    <table>
        <tr>
            <th>Author ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

        <tr th:each = "author : ${model.authors}">
            <td th:text ="${author.authorID}"></td>
            <td th:text ="${author.getFirstName()}"></td>
            <td th:text ="${author.getLastName()}"></td>
            <td>
                <a th:href="${'/author/delete-author?AuthorID=' + author.authorID}" class="delete-button"> Delete </a>
            </td>
        </tr>
    </table>
</div>


<h2>Add author:</h2>
<form th:action="@{/author/add-author/}" method="post">
    <div class="add-tech-row">
        <label>
            <span>First name: </span>
            <input type="text" name="FirstName">
        </label>
    </div>
    <div class="add-tech-row">
        <label>
            <span>Last name: </span>
            <input type="text" name="LastName">
        </label>
    </div>

    <div class="add-tech-row">
        <span><!-- spacer --></span>
        <input type="submit" value="Add author" />
    </div>
</form>


<h2>Update author:</h2>
<form th:action="@{/author/update-author/}" method="post">
    <div class="add-tech-row">
        <label>
            <span>Author ID: </span>
            <input type="text" name="AuthorID">
        </label>
    </div>
    <div class="add-tech-row">
        <label>
            <span>New first name: </span>
            <input type="text" name="FirstName">
        </label>
    </div>
    <div class="add-tech-row">
        <label>
            <span>New last name: </span>
            <input type="text" name="LastName">
        </label>
    </div>

    <div class="add-tech-row">
        <span><!-- spacer --></span>
        <input type="submit" value="Update author" />
    </div>
</form>

</body>


</html>