<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.LibraryPageModel"-->

<head>
    <title>Bookish - About Us</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>


<div>
    <table>
        <tr>
            <th>LibraryID</th>
            <th>Book Name</th>
            <th>Author Name</th>
        </tr>

        <tr th:each = "library : ${model.libraryList}">
            <td th:text ="${library.LibraryID}"></td>
            <td th:text ="${library.book.bookName}"></td>
            <td th:text ="${library.author.firstName}"></td>
        </tr>
    </table>
</div>

</body>


</html>