<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.LibraryPageModel"-->

<head>
    <title>Bookish - About Us</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>


<div>
    <table>
        <tr>
            <th>Book ID</th>
            <th>Author ID</th>
        </tr>

        <tr th:each = "library : ${model.libraryList}">
            <td th:text ="${library.BookID}"></td>
            <td th:text ="${library.LibraryID}"></td>
        </tr>
    </table>
</div>

<h2>Add a book:</h2>
<form th:action="@{/books/add-book}" method="post">
    <div class="add-tech-row">
        <label>
            <span>Book Name: </span>
            <input type="text" name="BookName">
        </label>
    </div>

    <div class="add-tech-row">
        <label>
            <span>Author ID: </span>
            <input type="text" name="AuthorID">
        </label>
    </div>

    <div class="add-tech-row">
        <label>
            <span>Total: </span>
            <input type="text" name="Total">
        </label>
    </div>

    <div class="add-tech-row">
        <span><!-- spacer --></span>
        <input type="submit" value="Add book" />
    </div>
</form>


</body>


</html>