<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.TransactionsPageModel"-->

<head>
    <title>Bookish - About Us</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>


<div>
    <table>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

        <tr th:each = "transactions : ${model.transactions}">
            <td th:text ="${transactions.transID}"></td>
            <td th:text ="${transactions.userID}"></td>
            <td th:text ="${transactions.libraryID}"></td>
            <td th:text ="${transactions.dateIn}"></td>
            <td th:text ="${transactions.dateOut}"></td>
            <td>
                <a th:href="${'/users/delete-user?UserID=' + users.userID}" class="delete-button"> Delete </a>
            </td>
        </tr>
    </table>
</div>

</body>


</html>